@color-navbar: rgb(81, 184, 213);
@text-color: white;
@logo-color: rgb(230, 170, 39);

body {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.carousel-inner {
    margin-top: 15px;
}

#logo {
    background-color: @logo-color;
    margin-right: 40px;
}

#image-home {
    z-index: 0;
    position: relative;
}

#image-home img {
    margin-left: -450px;
}

#navigation-links {
    list-style-type: none;
    background-color: @color-navbar;
    overflow: hidden;
    li a {
        float: left;
        padding: 12px 15px;
        display: block;
        color: @text-color;
        text-decoration: none;
    }
}

#navigation-links li a:hover {
    color: @text-color;
    background-color: rgb(230, 170, 39);
}

#navigation-links li a:active {
    background-color: rgb(240, 126, 7);
}

.navbar-right {
    float: right;
    margin-right: 15px;
}

.box-info {
    position: relative;
    z-index: 1;
    margin: -20px auto 35px;
    display: block;
    align-items: center;
    font-weight: bold;
    color: @text-color;
    height: 35px;
    padding-top: 1%;
    text-align: center;
    background-color: @color-navbar;
    width: 70%;
}

.grid-pesanan {
    width: 960px;
    margin: 0 auto;
    display: inline-block;
    border: 8px solid @color-navbar;
}

#count,
#destination {
    width: 31%;
    float: left;
    margin: 0 5px;
    height: 200px;
    padding: 5px;
}

#time {
    border-left: 3px solid @color-navbar;
    border-right: 3px solid @color-navbar;
    #destination;
}

.grid-pesanan form h1 {
    font-weight: bold;
}

#box-pesanan {
    list-style-type: none;
    overflow: hidden;
    li {
        float: left;
    };
    a {
        padding: 12px 15px;
        display: block;
        text-decoration: none;
    }
}
